html, body{
    background-color: #EDEDED;
    margin: 0;
    height: 100%;
    margin-top: 0px;
}

.header{
    font-size: 25px;
    height: 100px;
}

body{
    background-color: #EDEDED;
}

/*Benutzer anmelden*/

.loginUserWindow{
    border: solid black;
    width: 30%;
}
.loginUserWindow.label{
    text-align: left;
}

.loginUserWindowTitle{
    border-bottom: solid black 3px;
    font-size: 35px;
}


/*Benutzer erstellen*/

.createUserWindow{
    border: solid black;
    width: 30%;
}

.createUserWindowTitle{
    border-bottom: solid black 3px;
    font-size: 35px;
}


/*Home Seite*/

.boxBlackJack{
    background-image: url("./blackjack.jpg");
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;
}

.boxRoulette{
    background-image: url("./roulette.jpg");
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;
}

.boxStatistics{
    background-image: url("./statistiken.jpg");
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;
}

.content{
    font-size: 30px;
}

/*Black Jack*/

#blackJackContent {
    width: 100%;
    height: calc(100% - 100px);
}

.playField{
    height: 100%;
    width: 80%;
    margin: 0;
    float: left;
}

.playMenu{
    height: 100%;
    width: 20%;
    margin: 0;
    float: right;
}

#dealerCards {
    height: 33%;
}

#cardDeck {
    height: 34%;
}

#myCards {
    height: 33%;
}

.cards{

    margin-left: 5px;
    margin-right: 5px;

}

/*Statistik*/
.statistic {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: gainsboro;
}